POSTGRES_DB=localhost   
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_NAME=cosmoslens
POSTGRES_PORT=5432
NASA_KEY=Yxi2FFm0bIoMWfj4JeLPwcGSB7CAHVbsTRE8uuHT
FIRMS_KEY=33c448100f2a83e798c3053ac270d559